
<h1>  <% if current_user.avatar.present? %>
<%= link_to (cl_image_tag current_user.avatar.thumbnail), user_path(current_user)%><br>
<% else %>
<%= link_to (image_tag current_user.remote_image_url), user_path(current_user) %><br>
<% end %><%= @user.username? %>'s Profile </h1>




<br>
<%=link_to "#{@user.username?}'s Albums", profile_albums_path(@profile)%> |
<%=link_to "All #{@user.username?}'s Photos", profile_photos_path(@profile) %>

<h2><%= @user.username? %> has given <%= @user.pats.count %> <%= (@user.pats.count) == 1 ? 'pat' : 'pats'%> to good doggos! </h2>