<%= stylesheet_link_tag "profiles" %>

<div class="user-head">
<h1><%= @user.username? %>'s Profile </h1>
</div>
<br>

<% if @user.avatar.present? %>
<%= cl_image_tag (@user.avatar.thumbnail), :class => "center"%><br>
<% else %>
<%= image_tag (@user.remote_image_url), :class => "center" %><br>
<% end %> 

<div class="pats-count">
<h2><%= @user.username? %> has given <%= @user.pats.count %> <%= (@user.pats.count) == 1 ? 'pat' : 'pats'%> to good doggos! </h2>
</div>





<br>
<div class="profile-links">
<h3>
<%=link_to "#{@user.username?}'s Albums", profile_albums_path(@profile)%> |
<%=link_to "All #{@user.username?}'s Photos", profile_photos_path(@profile) %>
</h3>
</div>