<%= stylesheet_link_tag "users" %>

<% if @user.errors.any? %>
  <div class="error_explanation">
  <div class="closebtn" onclick="this.parentElement.style.display='none';">&times;</div>
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
  
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
 <% end %>



<%= form_for (@user) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password%><br>
  <%= f.label :avatar %><br>
  <%= f.file_field :avatar %><br>
  <br><br>
  <%= f.submit %>
<% end %>


