<h1> Hi there, <%= @user.name%>!</h1>

<p>
  <strong>Avatar:</strong>
  <% if @user.avatar.blank? %>
  <%= link_to "Add Avatar", edit_user_path(@user) %>
  <%else%>
  <%= image_tag "#{@user.avatar}", size: "500" %> </p>
  <%end%>
</p>


<h2><%= @user.username %> has given <%= @user.pats.count %> <%= (@user.pats.count) == 1 ? 'pat' : 'pats'%> to good doggos! </h2>


<%= link_to 'Edit Your Info', edit_user_path(@user) %> | <%= link_to "Pat Some Dogs!", photo_path %> | <%= link_to "Add Some Photos of Your Dog", new_user_photo_path(@user) %> | <%= link_to "See Your Dog's Photos", user_photos_path(@user) %>
