<%= stylesheet_link_tag "pages" %>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<%= stylesheet_link_tag "pages" %>

<div class="bg-img">
    <div class="centered">Welcome to Pat My Dog!</div>
        <div class="container">
            <%= link_to('Login with Facebook', '/auth/facebook') %><br>
            <%= link_to "Login", login_path %><br>
            <%= link_to "Signup", new_user_path %>
        </div>
    </div>
</div>


</head>
<body>

</body>
</html>