<%= stylesheet_link_tag "photos" %>

<div class="dropdown">
  <button class="dropbtn">Sort By</button>
  <div class="dropdown-content">
  <%= link_to "User", photos_path(sort_order: "user_sort"), :method => "get" %> 
  <%= link_to "Pats High to Low", photos_path(sort_order: "high_to_low"), :method => "get" %> 
  <%= link_to "Pats Low to High", photos_path(sort_order: "low_to_high"), :method => "get"%> 
  </div>
</div>


<% @photos.each_slice(4) do |photos| %>
  <div class="row">
  <% photos.each do |photo| %>
  <div class="column"><%= link_to (image_tag "#{photo.image}", size: "200"), profile_photo_path(photo.profile_id, photo)%><p><%=photo.pats.count%> <%= (photo.pats.count) == 1 ? 'Pat' : 'Pats'%></p></div>
  <% end %>
  </div>
  <%end%>


