<%= form_for [@profile, @photo] do |f| %>
    <%= f.label :image%>
    <%= f.file_field :image, :transformation=>[
        {:width=>100, :crop=>"scale"},
        {:angle=>90}
        ] %>
        <br><br><br>
    <%= hidden_field_tag "photo[profile_id]", @profile.id %><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <%= f.label :categories %><br>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
        <p>
        <%= b.check_box %>
        <%= b.label %>
        </p>
        <%end%> 
    <%= f.fields_for :categories do |category_builder| %>
        <%= category_builder.label :add_a_new_category %>
        <%= category_builder.text_field :name %>
        <%end%> 
            <br>
    <%= f.submit "Upload Image" %>
    <%end%>
