<%= form_for [@user, @photo] do |f| %>
    <%= f.label :image %>
    <%= f.file_field :image%><br><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <%= f.label :categories %><br>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
        <p>
        <%= b.check_box %>
        <%= b.label %>
        </p>
        <%end%><br>
    <%= f.submit "Upload Image" %>
    <%end%>
