<%= stylesheet_link_tag "photos" %>
<% if @photo.errors.any? %>
   <div class="error_explanation">
   <div class="closebtn" onclick="this.parentElement.style.display='none';">&times;</div>
     <h2>
       <%= pluralize(@photo.errors.count, "error") %>
       prohibited this post from being saved:
     </h2>
  
     <ul>
     <% @photo.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>


<h1> Add a Photo of Your Pup</h1>
<%= form_for [@profile, @photo], url: profile_photos_path(@profile) do |f| %>
    <%= f.label :image%>
    <%= f.file_field :image %>
        <br><br><br>
    <%= hidden_field_tag "photo[profile_id]", @profile.id %><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <%= f.label :categories %><br>
    <%= f.collection_check_boxes(:category_ids, Category.where("name is not null and name != ''"), :id, :name) do |b| %>
        <p>
        <%= b.check_box %>
        <%= b.label %>
        </p>
        <%end%> 
    <%= f.fields_for :categories do |category_builder| %>
        <%= category_builder.label :add_a_new_category %>
        <%= category_builder.text_field :name %>
        <%end%> 
            <br>
    <%= f.submit "Upload Image" %>
    <%end%>
