<h1> <%= link_to @photo.user.name, user_path(@photo.user) %>'s Photo of </h1>
<h3>Pats: <p><%= @photo.pats.count %> <%= (@photo.pats.count) == 1 ? 'Pat' : 'Pats'%></p>

<%= link_to (cl_image_tag "#{@photo.image}", size: "400"), photo_pats_path(@photo), :method => :post %>



<h2><%= @photo.description %></h2>


<h5> Categories: </h5>
<% @photo.categories.each do |category| %>
    <h6><%= link_to category.name, category_path(category)%></h6>
    <%end%>
    

 <h1> Comments: </h1>
