<h1> <%= link_to @profile.user.name, profile_path(@profile) %>'s Photo of </h1>
<h3><strong>Pats: <p><%= @photo.pats.count %> <%= (@photo.pats.count) == 1 ? 'Pat' : 'Pats'%></p></strong></h3>
<h2> Click me to give me a pat! </h2>
<%= link_to (cl_image_tag "#{@photo.image}", size: "400"), photo_pats_path(@photo), :method => :post %>




<h2>Description:</h2> <h4><%= @photo.description %></h4>
<br>
<br>

<h5> Categories: </h5>
<% @photo.categories.each do |category| %>
    <h6><%= link_to category.name, category_path(category)%></h6>
    <%end%>
    
