<!DOCTYPE html>
<html lang="en">
<head>
<title>Pat My Dog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
body {
  font-family: Arial;
  margin: 0;
}

.col-sm-2 {
  text-align: center;
}

.header {
  background-image: url("https://i.ibb.co/NZ18JN3/paw-print-220229.jpg");
  padding: 60px;
  text-align: center;
  font-size: 30px;
}

.centered {
  top: 5%;
  left: 10%;
  background-color: #6032a8;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  width: 600px;
  margin: auto;
}


.content {padding:20px;}
.card {
  display: inline-block
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
  text-align: center;
  font-family: arial;
  padding-top: 6px;
  border: 4px solid;
  border-color: #35b4db;

}

.menu_container {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
  display: inline-block
  margin: 60px;
  text-align: center;
  max-width: 300px;
  background-color: white;
  border: 4px solid;
  border-color: #f0a1b6;
}

.title {
  color: grey;
  font-size: 18px;
}


.topnav {
  background-color: #a8d408;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #e80768;
  color: black;
}


.topnav a.active {
  background-color: #009699;
  color: white;
}


</style>
</head>
<body>


<div class="header">
<div class="centered">
  <img src="https://i.ibb.co/vwJm0zD/419px-Paw-print.png" alt="419px-Paw-print" border="0">
  <h1>Pat My Dog</h1>
  <p>Pat some dogs, let your dog get pats!</p>
  </div>
</div>

<div class="topnav">
  <%= link_to "Account", user_path(current_user), class: "active"%>
  <%= link_to "Profile", profile_path(current_user.profile) %>
  <%= link_to "Logout", logout_path %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    <br>
<div class="card">
  <% if current_user.avatar.present? %>
  <%= link_to (cl_image_tag current_user.avatar.thumbnail), user_path(current_user)%><br>
  <% else %>
  <%= link_to (image_tag current_user.remote_image_url), user_path(current_user) %><br>
  <% end %>
  <%=link_to current_user.username?, user_path(current_user)%><br>
  <p><%=current_user.pats.count%> <%= (current_user.pats.count) == 1 ? 'Pat' : 'Pats'%> Given</p>
</div>
<br>
<br>
  <div class = "menu_container">
      <h3 style="text-align:center">Menu</h3>
      <p style="text-align:center"><%= link_to "Pat Some Dogs!", photos_path %></p>
      <p style="text-align:center"><%= link_to "Add Photos of Your Dog!", new_profile_photo_path(current_user.profile)%></p>
      <p style="text-align:center"><%= link_to "Create A New Album", new_profile_album_path(current_user.profile) %></p>
      <p style="text-align:center"><%= link_to "Your Photos", profile_photos_path(current_user.profile) %></p>
      <p style="text-align:center"><%= link_to "Your Albums", profile_albums_path(current_user.profile) %></p>
    </div>
    </div>
  <div class="col-sm-10">

<div class="content">

  <%= yield %>
</div>
</div>
</div>
</div>

<div class="footer">
  <h2></h2>
</div>

</body>
</html>
