<!DOCTYPE html>
<html lang="en">
<head>
<title>Pat My Dog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: #f54263;
  color: white;
  font-size: 30px;
}


.content {padding:20px;}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.error_explanation {
  position: relative;
  padding: 10px;
  background-color: white;
  border-radius:.7em;
  border: 2px solid;
  border-color: red;
  color: red;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
}

.closebtn {
  position: absolute;
  right: 100px;
  top: 100px;
  color: red;
  font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #606363;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #009699;
  color: white;
}

</style>
</head>
<body>


<div class="header">
  <img src="https://i.ibb.co/vwJm0zD/419px-Paw-print.png" alt="419px-Paw-print" border="0">
  <h1>Pat My Dog</h1>
  <p>Pat some dogs, let your dog get pats!</p>
</div>

<div class="topnav">
  <%= link_to "Account", user_path(current_user), class: "active"%>
  <%= link_to "Profile", profile_path(current_user.profile) %>
  <%= link_to "Logout", logout_path %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
<br>
<div class="card">
  <%= link_to (image_tag current_user.avatar?(["thumbnail"])), user_path(current_user)%>
  <h1><%=link_to current_user.username?, user_path(current_user)%></h1>
  <p><%=current_user.pats.count%> <%= (current_user.pats.count) == 1 ? 'Pat' : 'Pats'%> Given</p>
</div>
      <h3 style="text-align:center">Menu</h3>
      <p style="text-align:center"><%= link_to "Pat Some Dogs!", photos_path %></p>
      <p style="text-align:center"><%= link_to "Add Photos of Your Dog!", new_profile_photo_path(current_user.profile)%></p>
      <p style="text-align:center"><%= link_to "Create A New Album", new_profile_album_path(current_user.profile) %></p>
      <p style="text-align:center"><%= link_to "Your Photos", profile_photos_path(current_user.profile) %></p>
      <p style="text-align:center"><%= link_to "Your Albums", profile_albums_path(current_user.profile) %></p>
    </div>
  <div class="col-sm-10">

<div class="content">

  <%= yield %>
</div>
</div>
</div>
</div>

<div class="footer">
  <h2></h2>
</div>

</body>
</html>
